.chat {
    max-height: 290px;
    overflow-y:scroll;
    height: 290px;
    padding: 0px;
}

.list-group {
    margin-bottom: 0px;
}

.list-group-item {
    padding: 7px 6px;
}

.out-of-date {
    background-color: lightgray;
    font-style: italic;
}
